@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

    var options = new List<string>()
    {
        "General",
        "Password"
    };

    var currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;

}

<div class="list-group">
    @foreach (var inf in options)
    {
        <a href="@currentUrl#@inf" class="list-group-item list-group-item-action">@inf</a>
    }
</div>