@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
<header class="bg-gradient--red">
</header>
<div class="mt-5 text-page">
    @Html.GetGridHtml(Model.Content, "grid")
</div>